*.iml
.gradle
.idea
#keystores
#**/project_credentials/*.properties
#!**/project_credentials/keystores/*.keystore
#**/project_credentials/keystores/*.txt
#!project_credentials/keystores/keystores.md

!#**/project_credentials/keystores/*.md


#Remove everythings from project_credentials including project_credentials
#project_credentials

#!project_credentials/keystores/keystores.md



#project_credentials/*
#!/data/credentials.md



project_credentials/*
!project_credentials/credentials.md
!project_credentials/keystores
project_credentials/keystores/*
!project_credentials/keystores/keystores.md


/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
